# This file is used to generate the email notification message.
# The first part is the message subject and must be pure text.
# The subject MUST be on the first line after the comments and 
# should be preceded by the "Subject" keyword.
# The second part (after the newline) is the body of the message.
# The second part can be a html (or not).
Subject:ViaCRYPT - Message read on {{ now }}

<div id="body"> 
    The message you wrote on {{ date }} was just read. Go figure.
</div>
