<!DOCTYPE html>
<html>
<head>
<title>ViaCRYPT</title>

<meta name="viewport" content="initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

<link href="lib/css/bootstrap-combined.min.css" rel="stylesheet">
<link href="css/vialink.css" rel="stylesheet">

<!-- Favicons-->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" type="image/x-icon" href="ico/apple-touch-icon-57-precomposed.png">
<link rel="shortcut icon"  type="image/x-icon" href="ico/favicon.png">
<!--[if IE]><link rel="shortcut icon" type="image/x-icon" href="ico/favicon.ico"><![endif]-->
<!-- or, set /ico/favicon.ico for IE10 win -->
<meta name="msapplication-TileColor" content="#fff" />
<meta name="msapplication-TileImage" content="ico/tileicon.png" /><!--144x144px -->

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

<script src="lib/js/aes.js"></script>
<script src="lib/js/jquery-1.10.2.min.js"></script>
<script src="lib/js/bootstrap.min.js"></script>
<script src="js/viacrypt.js"></script>
</head>

<body style="padding-top: 115px">

<div class="container">
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<a class="brand" href="/" title="ViaCRYPT">ViaCRYPT</a>
			<ul class="nav pull-right-nav">
				<li><a href="#">
					<span class="menu-hover menu-hover-top"></span>
					Como funciona?
					<span class="menu-hover"></span>
				</a></li>
				<li><a href="#">
					<span class="menu-hover menu-hover-top"></span>
					Dê sua sugestão!
					<span class="menu-hover"></span>
				</a></li>
			</ul>
		</div>
	</div>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="message">Message</label>
			<div class="controls">
				<textarea id="message" class="input-xxlarge" rows="15" placeholder="Type here your secret message..."></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button id="save" type="button" class="btn btn-primary">Save it</button>
			</div>
		</div>
	</form>
	<div id="showUrl" class="well hide">
		URL of this message: <span class="url"></span>
	</div>

	<div id="footer">
		<div class="container">
			<div class="desenv">
				<span>Desenvolvido por</span> <a href="http://www.vialink.com.br" target="_blank" title="Vialink" class="logo-vialink">VIALINK</a>
			</div>
		</div>    
    </div>
</div>

<div id="messageModal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Your message is...</h3>
	</div>
	<div class="modal-body">
		<pre class="message"></pre>
		<span class="label label-important">REMEMBER</span> This message was deleted and you cannot read it again.
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

{{#enable_ga}}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ga_tracking_code}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{{/enable_ga}}

</body>
</html>
