<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ViaCRYPT</title>
<link href="bootstrap-combined.min.css" rel="stylesheet">
<script src="aes.js"></script>
<script src="jquery-1.10.2.min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="viacrypt.js"></script>
</head>

<body>

<div class="container">
	<h1>ViaCRYPT
		<small>One time read messaging system</small>
	</h1>
	<form class="form-horizontal">
		<div class="control-group">
			<label class="control-label" for="message">Message</label>
			<div class="controls">
				<textarea id="message" class="input-xxlarge" rows="15" placeholder="Type here your secret message..."></textarea>
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button id="save" type="button" class="btn btn-primary">Save it</button>
			</div>
		</div>
	</form>
	<div id="showUrl" class="well hide">
		URL of this message: <span class="url"></span>
	</div>

	<hr>
	<footer>
		Developed by Marcelo Salhab Brogliato at <a href="http://www.vialink.com.br/" target="_blank">Vialink</a>.
		<div class="pull-right">
			<a href="http://www.vialink.com.br/"><img src="http://www.vialink.com.br/_logos/vialink.png" alt="Vialink"></a>
		</div>
	</footer>
</div>

<div id="messageModal" class="modal hide fade" tabindex="-1" role="dialog">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3>Your message is...</h3>
	</div>
	<div class="modal-body">
		<pre class="message"></pre>
		<span class="label label-important">REMEMBER</span> This message was deleted and you cannot read it again.
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

{{#enable_ga}}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ga_tracking_code}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{{/enable_ga}}
</body>
</html>
