// vim: filetype=javascript
var cfg = {};

cfg.listen = '127.0.0.1';
cfg.port = 8001;

// internationalization options
cfg.locales = {
	en: ['en_US'],
	br: ['pt_BR']
	//<public shortname: ['<main locale>', '<alias locale>', '<alias locale'>, ...]
}

// URL used when generating URL client-side and when retrieving a message.
// Never prefix the protocol (http or https). It is generated according to
// the access.
cfg.baseurl = '//127.0.0.1:8001';

// you might want to disable serving static files on production to avoid
// unecessary hassles that may come with it. (set to false to disable)
cfg.serve_static = true;
cfg.static_dir = __dirname + '/static';

// available options are 'fs' and 'mongo'
cfg.message_provider = 'fs';

// used with fs store
cfg.fs_options = {
	messages_path: 'messages'
}

// used with mongo store
cfg.mongo_options = {
	host: 'localhost',
	port: '27017',
	database: 'viacrypt',
	collection: 'messages'
}

//Email notification configuration
// The hide_header flag indicates wheter or not the email address header
// will be suppressed when the message is sent to the user
// the service parameter is optional and should be one of the 
// services defined by nodemailer 
// (http://www.nodemailer.com/#well-known-services-for-smtp)
cfg.enable_email_notification = false;
cfg.notification_options = {
	hide_header: false,
	sender: 'viacrypt@localhost',
	// file backend
	backend: {
		type: 'file',
		filepath: 'mail.log'
	}
	// smtp (real) backend
	//backend: {
	//	type: 'smtp',
	//	smtp_server: '',
	//	smtp_port: '25',
	//	username: '',
	//	password: ''
	//}
}

// Rate limit
// The interval must be in seconds.
// Defaults to 75 messages every 30 minutes.
// Uncomment to enable.
//cfg.ratelimit = {};
//cfg.ratelimit.limit = 75
//cfg.ratelimit.interval = 60 * 30

// You can use redis to rate limit.
// Uncomment the follow lines to enable it.
//cfg.ratelimit.redis = {}
//cfg.ratelimit.redis.port = 6379;
//cfg.ratelimit.redis.host = '127.0.0.1'
//cfg.ratelimit.redis.options = {};

// enable live reloading for glorious development
cfg.enable_livereload = false;

// Google Analytics
cfg.enable_ga = false;
cfg.ga_tracking_code = 'UA-XXXXX-Y';

module.exports = cfg;
